{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:10px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">{{='Qualidade Ambiental'}}</h1>
  </div>
</div>
    <div class="jumbotron jumbotron-fluid" style="padding:10px;word-wrap:break-word;">
      <div class="container center">

        <a class="btn btn-primary" href="{{=URL('MeioAmbienteRP','default','index')}}">SMMAURB</a>
        <a class="btn btn-primary" href="{{=URL('Qualidade_Ambiental','PontosApoio','Pontos_de_Apoio')}}">Pontos de Apoio</a>
        <a class="btn btn-primary" href="{{=URL('Qualidade_Ambiental','QualidadeAr','QA_inicio')}}">Qualidade do Ar</a>

      </div>
    </div>
{{end}}

<div class="row">
  <div class="col-md-12">

    <h2>{{='GESTAO DA QUALIDADE AMBIENTAL DE SÃO JOSÉ DO RIO PRETO'}}</h2>
    <p class="lead">{{=T('Options')}}</p>
    <ol style="word-wrap:break-word;">
      <li>{{=T('')}}</li>
      
    </ol>

    {{=BEAUTIFY(response._vars)}}
    {{pass}}
 

  </div>


</div>
