
{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:10px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">{{='Qualidade Ambiental'}}</h1>
    <h3 class="display-5">{{' '.join(x.capitalize() for x in request.function.split('_'))}}</h3>
  </div>

</div>
{{end}}

<div class="jumbotron jumbotron-fluid" style="padding:10px;word-wrap:break-word;">
  <div class="container center">

    <a class="btn btn-primary" href="{{=URL('MeioAmbienteRP','default','index')}}">Meio Ambiente</a>
    <a class="btn btn-primary" href="{{=URL('Qualidade_Ambiental','default','index')}}">Qualidade Ambiental</a>
    
    
  </div>

</div>


{{=form.custom.begin}}
<table >
                PM: <div style="width:40%; ">{{=form.custom.widget['PM']}}</div>
                <td align='left'>Placa: <div align='left'>{{=form.custom.widget['Placa']}}</div></td>
                <td>Data: <div>{{=form.custom.widget['Data']}}</div></td>
                <td>Hora: <div>{{=form.custom.widget['Hora']}}</div></td>
</table>
<div align='right'><a class="btn btn-primary" href="{{=URL('Qualidade_Ambiental','QualidadeAr','Grade_opacidade')}}">Grade de Registros</a></div>
<div div class="jumbotron" style="font-size: 98%"  align="left">
  <table>
            <tr>
                 <td align='left' >Nível na Escala: <div align='left'>{{=form.custom.widget['NvRingelmann']}}</div></td>
                 <td  align='left' >Obs.: <div align='center'>{{=form.custom.widget['Obs']}}</div></td>              
            </tr>
  </table>
  
</div>
<div></div>{{=INPUT(_type='button',_value='Envia' ,_onclick='form.custom.submit')}}
{{=form.custom.end}}



