{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:10px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">{{='Qualidade Ambiental'}}</h1>
    <h3 class="display-5">Qualidade do Ar em São José do Rio Preto</h3>
  </div>

</div>



{{end}}


<div class="jumbotron jumbotron-fluid" style="padding:10px;word-wrap:break-word;">
  <div class="container center">
    <a class="btn btn-primary" href="{{=URL('MeioAmbienteRP','default','index')}}">Meio Ambiente</a>
    <a class="btn btn-primary" href="{{=URL('Qualidade_Ambiental','default','index')}}">Qualidade Ambiental</a>
    
  </div>




	
		<ul class="list-unstyled components" list-style-type='disc'>
		<div class="sidebar-header">
		
		{{menu = []}}
 		{{for key in ItensPlanoQualidadeAr.keys():}}
		{{atributo={'_data-toggle':"collapse", 'aria-expanded':"false"} }}
		
			{{=LI(A(key, _class="btn btn-primary dropdown-toggle", _type="button", _href='#{}'.format(key), **atributo ), _class="act"),SPAN(_class="caret") }}



			{{for val in ItensPlanoQualidadeAr[key]:}}

				
				{{=UL(A(val, _href=URL(key, val ), _class="btn btn-success"),  _id=key, _class="collapse list-unstyled")}}


			{{pass}}

		{{pass}}

		</div>



		</ul>



 	

</div>




