

{{extend 'layout.html'}}

{{block header}}

<script type="text/javascript">
   $(document).ready(function(){
      document.getElementById('EntradaPonto_Placa').focus();})
</script>


<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:10px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">{{='Qualidade Ambiental'}}</h1>
    <h3 class="display-5">Formulário de Entrada de Materiais dos Pontos de Apoio</h3>
  </div>

</div>
{{end}}

<div class="jumbotron jumbotron-fluid" style="padding:10px;word-wrap:break-word;">
  <div class="container center">

    <a class="btn btn-primary" href="{{=URL('Qualidade_Ambiental','default','index')}}">QUALI. AMB.</a>
    <a class="btn btn-primary" href="{{=URL('Qualidade_Ambiental','PontosApoio','Pontos_de_Apoio')}}">Pontos de Apoio</a>
    
  </div>
</div>



{{=form.custom.begin}}

<table >
   
       Ponto: <div style="width:40%; ">{{=form.custom.widget['IdPonto']}}</div>
    <td>Data: <div>{{=form.custom.widget['Data']}}</div></td>
</table>

<div align='right'><a class="btn btn-primary" href="{{=URL('Qualidade_Ambiental','PontosApoio','GridEntradaPonto')}}">Grade de Registros</a>
</div>

<div div class="jumbotron" style="font-size: 110%">
  <table style="border:1">
    <table align='left'>
                 <td align='left'>Placa: <div align='left'>{{=form.custom.widget['Placa']}}</div></td>
                 <td align='left'>Tipo de veic: <div align='left'>{{=form.custom.widget['TipoVeic']}}</div></td>
    </table>
</div>
<div style="font-size: 110%">
    <tr>
    <table align='left' width="25%">
        <td>    
             <td align='left' width="33%">Volume: <div align='left'>{{=form.custom.widget['Volume']}}</div></td>
             <td align='left' width="33%">Sofa: <div align='left' width="13%">{{=form.custom.widget['Sofa']}}</div></td>
             <td align='left' width="33%">Colchão: <div align='left' width="13%">{{=form.custom.widget['Colchao']}}</div></td>
        </td>     

             <table width="75%" >
                 <td width="16%" align='left'>Poda: <div align='left'>{{=form.custom.widget['Poda']}}</div></td>
                 <td width="16%" align='left'>Moveis: <div align='left'>{{=form.custom.widget['Moveis']}}</div></td>
                 <td width="16%" align='left'>Ferro: <div align='left'>{{=form.custom.widget['Ferro']}}</div></td>
                 <tr>
                     <td width="16%" align='left'>Entulho: <div align='left'>{{=form.custom.widget['Entulho']}}</div></td>
                     <td width="16%" align='left'>Plast./papel: <div align='left'>{{=form.custom.widget['PlastPapel']}}</div></td>
                     <td width="16%" align='left'>Eletronico: <div align='left'>{{=form.custom.widget['Eletron']}}</div></td>
                 </tr>
                 <td  align='left' rowspan='1'>Outros: <div align='center'>{{=form.custom.widget['Outros']}}</div></td>
             </table>
  


    </table>
    </tr> 
  </table>
</div>

<div>
    {{=form.custom.submit}}
</div>

{{=form.custom.end}}
