{{extend 'layout.html'}}


{{block header}}

<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:10px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">{{='Qualidade Ambiental'}}</h1>
    <h2>{{=' '.join(x.capitalize() for x in request.function.split('_'))}}</h2>
  </div>

</div>
{{end}}

    <div class="jumbotron jumbotron-fluid" style="padding:10px;word-wrap:break-word;">
      <div class="container center">

      	<a class="btn btn-primary" href="{{=URL('Qualidade_Ambiental','default','index')}}">QUALI. AMB.</a>
        <a class="btn btn-primary" href="{{=URL('Qualidade_Ambiental','PontosApoio','Pontos_de_Apoio')}}">Pontos de Apoio</a>
        
      </div>
    </div>


	<div class="jumbotron jumbotron-fluid" style="padding:10px;word-wrap:break-word;">
	    	<div align="left">
	    	{{=ctrlgrf}}
	    	</div>
		<table>
	    <tr>
		    <td  width=50%>
		    	<div align="center">

		    		<img src="{{=URL('plotdados','/voldia.png')}}"  alt="Ocorreu um erro, ou, não há dados para variaveis informadas." height=55% width=75%>
		    	</div>
			</td>
			<td >
		    	<div align="center" width=50%>
		    		<div align="center"><h6>{{='período selecionado: {} até {}'.format(session.Inicio, session.Fim) }}</h6></div>
		    		<img src="{{=URL('plotdados','/pontores.png')}}"  alt="     Ocorreu um erro" height=55% width=75%>
		    	</div>
			</td>
		</tr>	
		</table>

	</div>

{{=response.toolbar()}}